.header {
  background-color: #171f26;
  color: white;
}

.header__time {
  @include font--text--55regular;
  position: absolute;
}

.header__content-container {
  padding-top: 90px;
  padding-left: 48px;
}

.header__station-name {
  @include font--display--75bold;
  letter-spacing: 0px;
}

.header__subtitle {
  @include font--display--65medium;
  letter-spacing: 3px;
}

.header__environment {
  @include font--text--75bold;
  position: absolute;
  top: 12px;
  left: 40px;
  font-size: 48px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 48px;
}

.screen-container--size-normal {
  .header {
    height: 300px;
  }

  .header__time {
    font-size: 100px;
    font-weight: 200;
    line-height: 90px;
    top: 110px;
    right: 45px;
  }

  .header__station-name {
    font-size: 100px;
    line-height: 120px;
    font-weight: 600;
  }

  .header__subtitle {
    text-transform: uppercase;
    font-size: 38px;
    margin-top: 6px;
    line-height: 40px;
    font-weight: 200;
    padding-left: 12px;

  }
}

.screen-container--size-large {
  .header {
    height: 456px;
  }

  .header__time {
    top: 32px;
    right: 40px;
    font-size: 96px;
    line-height: 96px;
  }

  .header__station-name {
    font-size: 156px;
    line-height: 156px;
  }

  .header__subtitle {
    font-size: 96px;
    line-height: 96px;
    margin-top: 32px;
  }
}
