@import url("https://fonts.googleapis.com/css?family=League Spartan");

@import "fonts_solari";

@import "screen_page";

@import "base/base_route_pill";

@import "solari/screen_container";
@import "solari/departure";
@import "solari/departure_crowding";
@import "solari/departure_destination";
@import "solari/departure_route";
@import "solari/departure_time";
@import "solari/section";
@import "solari/section_list";
@import "solari/header";
@import "solari/arrow";
@import "solari/inline_alert_badge";
@import "solari/psa";

body {
  margin: 0px;

  background-color: #141414;

  @media (min-width: 1078px) and (max-width: 1082px) {
    zoom: 1.0;
  }

  @media (min-width: 601px) and (max-width: 1076px) {
    zoom: 0.55;
  }

  @media (max-width: 600px) {
    zoom: 0.375;
  }

  &.scroll-disabled {
    overflow: hidden;
  }
}